{% extends "myblog/base.html" %}
{% block content %}

<h1 class="text-center text-bold text-2xl py-8"> About us </h1>

<div class="md:container md:mx-auto py-8">
<p class="py-4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra convallis erat et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas facilisis metus ut venenatis congue. Donec a pharetra velit, non lobortis odio. Cras nec purus pellentesque diam sollicitudin aliquet. Cras ut convallis massa. Aenean magna sem, pretium non purus sed, mollis bibendum odio. Aliquam aliquam tortor at ullamcorper convallis. Pellentesque imperdiet interdum lacus et aliquet. Suspendisse feugiat, enim nec vestibulum ultrices, nibh ligula hendrerit lacus, eu commodo mauris lorem non dolor. In congue ac metus bibendum pharetra. Vestibulum tincidunt, ex condimentum consequat tempus, tellus nisl euismod lorem, quis blandit augue orci ac felis. Cras eget justo nec nunc semper euismod. Nullam varius tincidunt efficitur. </p>
<p class="py-4">Sed tempus lectus elit, non dictum est sagittis sit amet. Sed ac aliquet sem. Phasellus fermentum erat nec feugiat gravida. Duis ornare velit nisl, nec hendrerit augue dapibus at. Donec eget rhoncus elit. Mauris eros nulla, sodales a ipsum non, porta scelerisque lorem. Maecenas iaculis enim sapien, sed imperdiet nisi vestibulum id. Proin mi erat, commodo at rhoncus eu, rhoncus quis odio. Vestibulum mollis nec turpis quis fringilla.</p>



</div>
{% endblock content %}





