<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django blog</title>
    <meta name="description" content="">

    <!-- Tailwind -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>

                <link
                href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
                rel="stylesheet" />
                <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/tw-elements/css/tw-elements.min.css" />
                <script src="https://cdn.tailwindcss.com/3.3.0"></script>
                <script>
                tailwind.config = {
                    darkMode: "class",
                    theme: {
                    fontFamily: {
                        sans: ["Roboto", "sans-serif"],
                        body: ["Roboto", "sans-serif"],
                        mono: ["ui-monospace", "monospace"],
                    },
                    },
                    corePlugins: {
                    preflight: false,
                    },
                };
                </script>

    <!-- AlpineJS -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    

</head>

<body class="bg-white font-family-karla">

    <!-- Top Bar Nav -->
    <nav class="w-full py-4 bg-blue-800 shadow">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between">

            <nav>
                <ul class="flex items-center justify-between font-bold text-sm text-white uppercase no-underline">
                    {% if not  request.user.is_authenticated %}
                    <li><a class="hover:text-gray-200 hover:underline px-4" href="{% url 'login'%}">Login</a></li>
                    <li><a class="hover:text-gray-200 hover:underline px-4" href="{% url 'register' %}">Sign up</a></li>
                    {% else %}
                     <form method ="POST" action="{% url 'user_logout' %}">
                     {% csrf_token%}
                    <button type="submit" class="hover:text-gray-200 hover:underline px-4 uppercase">Logout</button>
                    </form>
                    {% endif %}

                    <li><a class="hover:text-gray-200 hover:underline px-4" href="{% url 'home' %}">Home</a></li>
                    {% if request.user.is_superuser %}
                        <li><a class="hover:text-gray-200 hover:underline px-4" href="{% url 'add_category' %}">Add Category</a></li>
                        <li><a class="hover:text-gray-200 hover:underline px-4" href="{% url 'show_messages' %}">Show messages</a></li>
                    {% endif %}
                </ul>
            </nav>

            <div class="flex items-center text-lg no-underline text-white pr-6">
                <a class="" href="#">
                    <i class="fab fa-facebook"></i>
                </a>
                <a class="pl-6" href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="pl-6" href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="pl-6" href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
                {% if request.user.is_authenticated%}
                    {% if request.user.profile%}
                        {% if request.user.profile.avatar %}
                            <a  href="{% url 'user_profile' request.user.profile.pk %}"  class='pl-6 ml-10'><img class="w-10 h-10 rounded-full" src="{{request.user.profile.imageURL}} " alt="No avatar"></a>
                        {% else %}
                            <a  href="{% url 'edit_profile' request.user.profile.pk %}"  class='class="bg-red-600 hover:bg-red-700 text-white text-sm px-4 py-2  border rounded-full ml-6'>Edit Profile</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>

    </nav>
    {% include 'myblog/messages.html'%}

    <!-- Text Header -->
    <header class="w-full container mx-auto">
        <div class="flex flex-col items-center py-12">
            <a class="font-bold text-gray-800 uppercase hover:text-gray-700 text-5xl" href="#">
                Django Blog 
            </a>
            <p class="text-lg text-gray-600">
              for educational reason
            </p>
        </div>
    </header>

    <!-- Topic Nav -->
    <nav class="w-full py-4 border-t border-b bg-gray-100" x-data="{ open: false }">
            <div class="text-center text-lg  font-underline">Categories:</div>
        <div class="block sm:hidden">
            <a
                href="#"
                class="block md:hidden text-base font-bold uppercase text-center flex justify-center items-center"
                @click="open = !open"
            >
                Topics <i :class="open ? 'fa-chevron-down': 'fa-chevron-up'" class="fas ml-2"></i>
            </a>
        </div>
        <div :class="open ? 'block': 'hidden'" class="w-full flex-grow sm:flex sm:items-center sm:w-auto">
            <div class="w-full container mx-auto flex flex-col sm:flex-row items-center justify-center text-sm font-bold uppercase mt-0 px-6 py-2">
                <a href="{% url 'home' %}" class="hover:bg-gray-400 rounded py-2 px-4 mx-2">All({{post_count }})</a>
                {% for category in  Category_menu %}
                <a href="{% url 'category_posts' category.pk %}" class="hover:bg-gray-400 rounded py-2 px-4 mx-2">{{category.name}}({{category.post_set.count}})</a>
                {% endfor %}
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock content %}






    <footer class="w-full border-t bg-white pb-12">
        <div class="w-full container mx-auto flex flex-col items-center">
            <div class="flex flex-col md:flex-row text-center md:text-left md:justify-between py-6">
                <a href="{% url 'about_us' %}" class="uppercase px-3">About Us</a>
                <a href="{% url 'privacy' %}" class="uppercase px-3">Privacy Policy</a>
                <a href="{% url 'terms' %}" class="uppercase px-3">Terms & Conditions</a>
                <a href="{% url 'contact'%}" class="uppercase px-3">Contact Us</a>
            </div>
            <div class="uppercase pb-6">&copy; Djangoblog</div>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/tw-elements/js/tw-elements.umd.min.js"></script>
    

 </body>

 </html>