{% extends "myblog/base.html" %}
{% block content %}

<h1 class="text-center text-bold text-2xl py-8"> Our privacy policy </h1>

<div class="md:container md:mx-auto py-8">
<p class="py-4">Donec mi sem, ornare ac bibendum non, pellentesque id mauris. Vestibulum malesuada elit nunc, vitae ullamcorper nibh porta ornare. Etiam ullamcorper at urna vitae auctor. Nulla magna mi, consequat eget scelerisque eget, condimentum at ex. Praesent eu enim dictum lacus auctor sagittis. Cras ac semper dui. Donec quis hendrerit libero. Vestibulum sollicitudin odio ipsum, id consectetur augue cursus a. In eleifend nulla eget ex maximus, non pulvinar neque dapibus. Aenean tempor vestibulum arcu ut consequat. Duis mattis enim vel maximus volutpat. Cras pellentesque felis in risus varius, quis lacinia diam consectetur. Sed ut justo et diam dapibus aliquet et et nulla. Mauris iaculis porttitor dui, quis consequat nisi scelerisque quis. Vivamus ullamcorper volutpat hendrerit. Vivamus iaculis, justo nec tempus pharetra, quam nisi consequat nisi, in condimentum mi eros elementum metus.  </p>
<p class="py-4">Aenean congue molestie tellus. Proin at fermentum nulla. Curabitur nec sapien semper, efficitur magna a, dapibus leo. Mauris dui diam, facilisis vel pretium sit amet, malesuada ut mi. In hac habitasse platea dictumst. Mauris auctor et urna et tincidunt. In malesuada vel purus at ultrices. Duis venenatis fringilla odio. Ut sodales orci vitae felis condimentum, vitae aliquam ex varius. Donec at cursus eros. Morbi eros elit, sollicitudin sit amet posuere nec, elementum sed lacus. Maecenas ultrices libero eget libero commodo egestas. Proin sed rhoncus dolor. Ut varius orci vitae nulla hendrerit, at pellentesque felis iaculis. Mauris molestie, lacus a venenatis cursus, orci est imperdiet dui, nec laoreet massa eros malesuada turpis</p>



</div>
{% endblock content %}