{% extends "myblog/base.html" %}
{% block content %}

<h1 class="text-center text-bold text-2xl py-8"> Terms and conditions </h1>

<div class="md:container md:mx-auto py-8">
<p class="py-4">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla elementum tellus at orci dapibus, id mollis augue sagittis. Aenean maximus vitae ante at accumsan. Mauris ut ex dui. Donec fermentum semper nunc, eget fermentum enim. Nunc sollicitudin varius finibus. Aliquam sit amet metus vel nulla congue suscipit. Donec ut pellentesque lorem, sed rutrum sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus volutpat congue tortor eu mattis. Proin et suscipit nisl. Donec suscipit convallis sapien ut sodales. Sed rhoncus in lorem et scelerisque. In vitae elementum erat.  </p>
<p class="py-4">Donec et porta felis. Sed eu tellus non mi sagittis fringilla et et nisi. Pellentesque a pellentesque sem. Integer ac faucibus velit. Nullam cursus laoreet nisl vitae sodales. Nam orci dolor, rhoncus a magna in, egestas posuere ex. Quisque quis est vel neque blandit tempus quis eget mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper ultricies dolor sed sodales. Sed consectetur rutrum sem, id maximus tellus sodales non. Nulla egestas fringilla cursus.  </p>
<p class="py-4">Duis iaculis ornare metus, et pharetra leo cursus sit amet. Proin tempor odio ligula, molestie vehicula lacus rhoncus ac. Ut ullamcorper ultricies lectus. Mauris sapien lorem, tempor vitae luctus id, dignissim et nibh. Morbi facilisis sollicitudin nunc, ut mollis felis. Maecenas a bibendum nisi. Maecenas egestas, est ut placerat aliquet, magna purus suscipit neque, et fermentum magna dolor sed ante. Mauris vel porttitor nisi. Sed auctor tempor tincidunt. Phasellus tristique imperdiet erat a hendrerit. Cras nec ligula risus. Ut sodales cursus nisi nec blandit. Morbi sit amet nisl at erat mattis tempor. Morbi elit metus, lacinia a lobortis bibendum, interdum a ex. Praesent nec enim eget massa pretium tempor quis vel dolor.  </p>



</div>
{% endblock content %}