{% if page_name == "edit_mail" %}
<h5 class="text-2xl font-extrabold dark:text-white text-center py-8 ">Edit Email </h5>
{% elif page_name == "password_change"%}
<h5 class="text-2xl font-extrabold dark:text-white text-center py-8 ">Change Password </h5>
{% elif page_name == "create_profile" %}
<h5 class="text-2xl font-extrabold dark:text-white text-center py-8 ">Create Profile</h5>
{% elif page_name == "create_post" %}
<h5 class="text-2xl font-extrabold dark:text-white text-center py-8 ">Create new post</h5>
{% elif page_name == "edit_post" %}
<h5 class="text-2xl font-extrabold dark:text-white text-center py-8 ">Edit Post</h5>
{% elif page_name == "add_category" %}
<h5 class="text-2xl font-extrabold dark:text-white text-center py-8 ">Create new category</h5>
{% elif page_name == "contact_message" %}
<h5 class="text-2xl font-extrabold dark:text-white text-center py-8 ">Send message to us</h5>
{% endif %}